asgiref==3.3.1
boto3==1.16.57
botocore==1.19.57
coverage==5.3.1
dj-database-url==0.5.0
dj-email-url==1.0.1
Django==3.1.5
django-cache-url==3.1.2
django-crispy-forms==1.10.0
django-ses==1.0.3
environs==9.3.0
future==0.18.2
jmespath==0.10.0
marshmallow==3.10.0
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.5
s3transfer==0.3.4
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.2
