{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}

{% block content %}

    <form method="post">
      {% csrf_token %}
      <div class="form-row my-2">
        {{ form.username|as_crispy_field }}
      </div>
      <div class="form-row my-2">
        {{ form.password|as_crispy_field }}
      </div>
      <button class="btn btn-primary my-2" type="submit">Sign in</button>
    </form>

    <!-- Cancel link -->
    <div class="mt-2">
      <a href="{% url 'home' %}">Cancel</a>
    </div>

{% endblock content %}