{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Enter New Password{% endblock title %}

{% block content %}

    <form method="POST">
      {% csrf_token %}
      <div class="form-row my-2">
        {{ form.new_password1|as_crispy_field }}
      </div>
      <div class="form-row my-2">
        {{ form.new_password2|as_crispy_field }}
      </div>
      <input type="submit" class="btn btn-primary my-2" value="Change password">
    </form>

    <!-- Cancel link -->
    <div class="mt-2">
      <a href="{% url 'home' %}" class="mt-2">Cancel</a>
    </div>

{% endblock content %}
